{% extends "base.html" %}
{% block content %}

<div class="container mt-4" style="max-width: 500px;">

    <h3 class="fw-bold mb-4 text-center text-dark">Đổi mật khẩu</h3>

    <form method="POST" class="card p-4 shadow-sm">
        <div class="mb-3">
            <label>Mật khẩu cũ:</label>
            <input type="password" name="old" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Mật khẩu mới:</label>
            <input type="password" name="new" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-secondary btn-lg text-dark">Đổi mật khẩu</button>
    </form>

</div>

{% endblock %}
